# Count items in a group

Use [`GroupBy.size()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.GroupBy.size.html).

In [1]:
# Setup

import numpy as np
import pandas as pd

Let's start with some toy data with two categorical variables.

In [2]:
# Create some toy data

# Create a list of four categories named "category 1", etc.
categories = [f"category {i}" for i in range(1, 5)]

# Create a DataFrame where the first column is just the
# categories repeated twice.
n_cycles = 2
df = pd.DataFrame.from_dict({
    "category": np.tile(categories, n_cycles),
    # Populate a second category column with a random selection
    # from the categories.
    "subcategory": np.random.choice(categories, n_cycles * len(categories))
}, dtype="category")


df

     category subcategory
0  category 1  category 4
1  category 2  category 1
2  category 3  category 1
3  category 4  category 4
4  category 1  category 4
5  category 2  category 1
6  category 3  category 3
7  category 4  category 4

To count the number of records when grouping by the categories, use `size()`.

In [3]:
# Group by both categories and count the number of records in each group.

df.groupby(["category", "subcategory"]).size()

category    subcategory
category 1  category 1     0
            category 3     0
            category 4     2
category 2  category 1     2
            category 3     0
            category 4     0
category 3  category 1     1
            category 3     1
            category 4     0
category 4  category 1     0
            category 3     0
            category 4     2
dtype: int64

The result of `.size()` is a `Series`, but you can convert it to a `DataFrame` with `.to_frame()`.

In [4]:
# Make the record counts a DataFrame

df.groupby(["category", "subcategory"]).size().to_frame("n_records")

                        n_records
category   subcategory
category 1 category 1           0
           category 3           0
           category 4           2
category 2 category 1           2
           category 3           0
           category 4           0
category 3 category 1           1
           category 3           1
           category 4           0
category 4 category 1           0
           category 3           0
           category 4           2