## Count null values in any column

Use `isna()` and `sum()`.

via [How to count the NaN values in a column in Pandas DataFrame](https://stackoverflow.com/questions/26266362/how-to-count-the-nan-values-in-a-column-in-pandas-dataframe)

In [6]:
import pandas as pd
import numpy as np

In [7]:
# Make some toy data
df = pd.DataFrame({'a':[1,2,np.nan], 'b':[np.nan,1,np.nan]})

df

     a    b
0  1.0  NaN
1  2.0  1.0
2  NaN  NaN

In [8]:
df.isna().sum()

a    1
b    2
dtype: int64