# Find all cells with zero values

In [1]:
import pandas as pd

In [2]:
# Make some toy data

data = [
    (0, 200, 350),
    (450, 900, 1340),
    (450, 0, 0), 
]
columns = [2008, 2010, 2012]

df = pd.DataFrame.from_records(data, columns=columns)

df

   2008  2010  2012
0     0   200   350
1   450   900  1340
2   450     0     0

Just comparing the `DataFrame` to value you're testing will return a binary mask.

In [3]:
df == 0

    2008   2010   2012
0   True  False  False
1  False  False  False
2  False   True   True

You can use this mask to filter your `DataFrame` and only show matching values.

In [4]:
df[df == 0]

   2008  2010  2012
0   0.0   NaN   NaN
1   NaN   NaN   NaN
2   NaN   0.0   0.0

You can also use this in conjunction with `DataFrame.any` to show rows with matching values.

In [5]:
zero_value_row_mask = (df == 0).any(axis=1)

df[zero_value_row_mask]

   2008  2010  2012
0     0   200   350
2   450     0     0