# Find rows with null values in any column

Use `DataFrame.isnull().any(axis=1)`

via [Python Pandas How to select rows with one or more nulls from a DataFrame without listing columns explicitly? - Stack Overflow](https://stackoverflow.com/questions/14247586/python-pandas-how-to-select-rows-with-one-or-more-nulls-from-a-dataframe-without)

In [1]:
import pandas as pd

In [2]:
# Make some toy data

data = [
    ('Test Value 1', None),
    ('Test Value 2', 'Test Value 3'),
    (None, 'Test Value 4'),
    
]
columns = ['col1', 'col2']

df = pd.DataFrame.from_records(data, columns=columns)

df

           col1          col2
0  Test Value 1          None
1  Test Value 2  Test Value 3
2          None  Test Value 4

In [3]:
# Show rows that have nulls in any column
df.isnull().any(axis=1)

0     True
1    False
2     True
dtype: bool

In [4]:
# You can also use this to index the original DataFrame
df[df.isnull().any(axis=1)]

           col1          col2
0  Test Value 1          None
2          None  Test Value 4