# List columns

In [1]:
# Setup

import pandas as pd

## Create toy data

In [2]:
new_alderpeople_data = [
    (1, 'Daniel La Spata'),
    (16, 'Stephanie Coleman'),    
    (20, 'Jeannette Taylor'),
    (22, 'Michael Rodriguez'),
    (25, 'Byron Sigcho-Lopez'),
    (31, 'Felix Cardona Jr.'),
    (33, 'Rossana Rodriguez Sanchez'),
    (39, 'Sam Nugent'),
    (40, 'Andre Vasquez'),
    (45, 'Jim Gardiner'),
    (47, 'Matt Martin'),
    (49, 'Maria Hadden'),
]
columns = ['ward', 'name']

new_alderpeople = pd.DataFrame.from_records(
    new_alderpeople_data,
    columns=columns
)

new_alderpeople

    ward                       name
0      1            Daniel La Spata
1     16          Stephanie Coleman
2     20           Jeannette Taylor
3     22          Michael Rodriguez
4     25         Byron Sigcho-Lopez
5     31          Felix Cardona Jr.
6     33  Rossana Rodriguez Sanchez
7     39                 Sam Nugent
8     40              Andre Vasquez
9     45               Jim Gardiner
10    47                Matt Martin
11    49               Maria Hadden

## Quickly, with `.columns`

In [3]:
# List columns via the .columns attribute

# I like to convert it to a list to show all columns even if the length
# exceeds the default threshold at which Pandas truncates the display
# of the items
list(new_alderpeople.columns)

['ward', 'name']

## Data types with `.dtypes`

I like to use the `.dtypes` attribute because it also shows the column types.

In [4]:
new_alderpeople.dtypes

ward     int64
name    object
dtype: object