# Select all the contents of a MultiIndex level

## tl;dr: Use `slice(None)` or `pandas.IndexSlice`

`results.loc[(slice(None), slice(None), "Ballots Cast"), :]`

or

`results.loc[pd.IndexSlice[:, :, "Ballots Cast"], :]`

## Introduction

Pandas [`MultiIndex`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.MultiIndex.html) provides a useful way to [select specific values](https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html) in a `DataFrame` when the data is hierarchical. I find myself using `MultiIndex` often when working with election data where a value might be associated with a county, jurisdiction and ultimately precinct.

It's intuitive to traverse the hierarchy to get slices of data, but it's a less intuitive when you want to get specific values for the second level of the index, for any value of the first level.

The official reference for accessing items in a MultiIndex is the [MultiIndex / advanced indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html) section of the Pandas documentation.

In [1]:
# Setup

import io

import pandas as pd

## Load Alcona County, Michigan Election Results

This is a subset of data available at https://github.com/openelections/openelections-data-mi/blob/master/2020/20200310__mi__primary__president__alcona__precinct.csv.

In [2]:
results_csv = """county,precinct,office,district,party,candidates,votes
Alcona,Alcona Twp,Registered Voters,,,,975
Alcona,Caledonia Twp,Registered Voters,,,,955
Alcona,Curtis Twp,Registered Voters,,,,1024
Alcona,Greenbush Twp,Registered Voters,,,,1257
Alcona,Gustin Twp,Registered Voters,,,,637
Alcona,Harrisville Twp,Registered Voters,,,,1144
Alcona,Hawes Twp,Registered Voters,,,,943
Alcona,Haynes Twp,Registered Voters,,,,645
Alcona,Mikado Twp,Registered Voters,,,,785
Alcona,Millen Twp,Registered Voters,,,,363
Alcona,Mitchell Twp,Registered Voters,,,,354
Alcona,City Harrisville,Registered Voters,,,,381
Alcona,Alcona Twp,Ballots Cast,,,,276
Alcona,Caledonia Twp,Ballots Cast,,,,242
Alcona,Curtis Twp,Ballots Cast,,,,281
Alcona,Greenbush Twp,Ballots Cast,,,,324
Alcona,Gustin Twp,Ballots Cast,,,,121
Alcona,Harrisville Twp,Ballots Cast,,,,298
Alcona,Hawes Twp,Ballots Cast,,,,186
Alcona,Haynes Twp,Ballots Cast,,,,166
Alcona,Mikado Twp,Ballots Cast,,,,195
Alcona,Millen Twp,Ballots Cast,,,,96
Alcona,Mitchell Twp,Ballots Cast,,,,87
""" 

results = pd.read_csv(io.StringIO(results_csv))

results

,county,precinct,office,district,party,candidates,votes
0,Alcona,Alcona Twp,Registered Voters,NaN,NaN,NaN,975
1,Alcona,Caledonia Twp,Registered Voters,NaN,NaN,NaN,955
2,Alcona,Curtis Twp,Registered Voters,NaN,NaN,NaN,1024
3,Alcona,Greenbush Twp,Registered Voters,NaN,NaN,NaN,1257
4,Alcona,Gustin Twp,Registered Voters,NaN,NaN,NaN,637
5,Alcona,Harrisville Twp,Registered Voters,NaN,NaN,NaN,1144
6,Alcona,Hawes Twp,Registered Voters,NaN,NaN,NaN,943
7,Alcona,Haynes Twp,Registered Voters,NaN,NaN,NaN,645
8,Alcona,Mikado Twp,Registered Voters,NaN,NaN,NaN,785
9,Alcona,Millen Twp,Registered Voters,NaN,NaN,NaN,363
10,Alcona,Mitchell Twp,Registered Voters,NaN,NaN,NaN,354
11,Alcona,City Harrisville,Registered Voters,NaN,NaN,NaN,381
12,Alcona,Alcona Twp,Ballots Cast,NaN,NaN,NaN,276
13,Alcona,Caledonia Twp,Ballots Cast,NaN,NaN,NaN,242
14,Alcona,Curtis Twp,Ballots Cast,NaN,NaN,NaN,281
15,Alcona,Greenbush Twp,Ballots Cast,NaN,NaN,NaN,324
16,Alcona,Gustin Twp,Ballots Cast,NaN,NaN,NaN,121
17,Alcona,Harrisville Twp,Ballots Cast,NaN,NaN,NaN,298
18,Alcona,Hawes Twp,Ballots Cast,NaN,NaN,NaN,186
19,Alcona,Haynes Twp,Ballots Cast,NaN,NaN,NaN,166
20,Alcona,Mikado Twp,Ballots Cast,NaN,NaN,NaN,195
21,Alcona,Millen Twp,Ballots Cast,NaN,NaN,NaN,96
22,Alcona,Mitchell Twp,Ballots Cast,NaN,NaN,NaN,87

## Create a MultiIndex

In [3]:
results = results.set_index(["county", "precinct", "office"])

results

                                           district  party  candidates  votes
county precinct         office
Alcona Alcona Twp       Registered Voters       NaN    NaN         NaN    975
       Caledonia Twp    Registered Voters       NaN    NaN         NaN    955
       Curtis Twp       Registered Voters       NaN    NaN         NaN   1024
       Greenbush Twp    Registered Voters       NaN    NaN         NaN   1257
       Gustin Twp       Registered Voters       NaN    NaN         NaN    637
       Harrisville Twp  Registered Voters       NaN    NaN         NaN   1144
       Hawes Twp        Registered Voters       NaN    NaN         NaN    943
       Haynes Twp       Registered Voters       NaN    NaN         NaN    645
       Mikado Twp       Registered Voters       NaN    NaN         NaN    785
       Millen Twp       Registered Voters       NaN    NaN         NaN    363
       Mitchell Twp     Registered Voters       NaN    NaN         NaN    354
       City Harrisville Registered Voters       NaN    NaN         NaN    381
       Alcona Twp       Ballots Cast            NaN    NaN         NaN    276
       Caledonia Twp    Ballots Cast            NaN    NaN         NaN    242
       Curtis Twp       Ballots Cast            NaN    NaN         NaN    281
       Greenbush Twp    Ballots Cast            NaN    NaN         NaN    324
       Gustin Twp       Ballots Cast            NaN    NaN         NaN    121
       Harrisville Twp  Ballots Cast            NaN    NaN         NaN    298
       Hawes Twp        Ballots Cast            NaN    NaN         NaN    186
       Haynes Twp       Ballots Cast            NaN    NaN         NaN    166
       Mikado Twp       Ballots Cast            NaN    NaN         NaN    195
       Millen Twp       Ballots Cast            NaN    NaN         NaN     96
       Mitchell Twp     Ballots Cast            NaN    NaN         NaN     87

## Use `slice(None)` to select any value at a particular level of the MultiIndex

Let's say we want to get values for "Ballots Cast", for any county or precinct. We can use `.loc` and specify `slice(None)` for the levels of the index for which we want to get any value.

Before we do this, it might be useful to recall how to get a single value using `.loc` and a MultiIndex.

In [4]:
results.loc[("Alcona", "Caledonia Twp", "Ballots Cast")]

district        NaN
party           NaN
candidates      NaN
votes         242.0
Name: (Alcona, Caledonia Twp, Ballots Cast), dtype: float64

To get all values for the "Ballots Cast" "office", we'll specify `slice(None)` for the `county` and `precinct` levels.

In [5]:
results.loc[(slice(None), slice(None), "Ballots Cast"), :]

                                     district  party  candidates  votes
county precinct        office
Alcona Alcona Twp      Ballots Cast       NaN    NaN         NaN    276
       Caledonia Twp   Ballots Cast       NaN    NaN         NaN    242
       Curtis Twp      Ballots Cast       NaN    NaN         NaN    281
       Greenbush Twp   Ballots Cast       NaN    NaN         NaN    324
       Gustin Twp      Ballots Cast       NaN    NaN         NaN    121
       Harrisville Twp Ballots Cast       NaN    NaN         NaN    298
       Hawes Twp       Ballots Cast       NaN    NaN         NaN    186
       Haynes Twp      Ballots Cast       NaN    NaN         NaN    166
       Mikado Twp      Ballots Cast       NaN    NaN         NaN    195
       Millen Twp      Ballots Cast       NaN    NaN         NaN     96
       Mitchell Twp    Ballots Cast       NaN    NaN         NaN     87

## Or, use `pandas.IndexSlice`

Instead of using `slice(None)` we can use [pandas.IndexSlice ](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.IndexSlice.html#pandas.IndexSlice) to use a syntax similar to how you would slice an array.

In [6]:
idx = pd.IndexSlice

results.loc[idx[:, :, "Ballots Cast"], :]

                                     district  party  candidates  votes
county precinct        office
Alcona Alcona Twp      Ballots Cast       NaN    NaN         NaN    276
       Caledonia Twp   Ballots Cast       NaN    NaN         NaN    242
       Curtis Twp      Ballots Cast       NaN    NaN         NaN    281
       Greenbush Twp   Ballots Cast       NaN    NaN         NaN    324
       Gustin Twp      Ballots Cast       NaN    NaN         NaN    121
       Harrisville Twp Ballots Cast       NaN    NaN         NaN    298
       Hawes Twp       Ballots Cast       NaN    NaN         NaN    186
       Haynes Twp      Ballots Cast       NaN    NaN         NaN    166
       Mikado Twp      Ballots Cast       NaN    NaN         NaN    195
       Millen Twp      Ballots Cast       NaN    NaN         NaN     96
       Mitchell Twp    Ballots Cast       NaN    NaN         NaN     87