# Percentages of a group

In [1]:
import pandas as pd
import seaborn as sns

# HACK: The HTTPS request to download the sample data fails without this.
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
# Load some sample data

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Panda's [crosstab()](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.crosstab.html) can be a useful way to inspect relationships between categorical variables.

In [3]:
pd.crosstab(tips['sex'], tips['time'])

time    Lunch  Dinner
sex
Male       33     124
Female     35      52

You can use the `normalize` argument to report percentages of the cells.

In [4]:
pd.crosstab(tips['sex'], tips['time'], normalize=True).style.format("{:.1%}")

By default, it gives the percentage of the cell across both axis, but you can specify "index" or "columns" to normalize on a particular axis.

In [5]:
pd.crosstab(tips['sex'], tips['time'], normalize='index').style.format("{:.1%}")

In [6]:
pd.crosstab(tips['sex'], tips['time'], normalize='columns').style.format("{:.1%}")