# Select a single item by index

Get a DataFrame containing a single item by indexing `DataFrame.loc` with an array with just that item.

Via [Hierarchical Indexing | Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html).

It's a good idea to become familiar with the [Indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) section of the docs as well as the [`DataFrame.loc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html). There's a lot of useful informaiton there, but how to do specific things.

In [1]:
import pandas as pd

/Users/ghing/.local/share/virtualenvs/python-data-cheatsheet-nEkgY1LY/lib/python3.6/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/Users/ghing/.local/share/virtualenvs/python-data-cheatsheet-nEkgY1LY/lib/python3.6/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
# Create some toy data

library_data = [
    ('Richard M. Daley Branch', '733 N Kedzie Ave, Chicago, IL 60612', 'Humboldt Park'),
    ('West Town Branch', '1625 W Chicago Ave, Chicago, IL 60622', 'West Town'),
    ('Humboldt Park Branch', '1605 N Troy St, Chicago, IL 60647', 'Humboldt Park'),
    
]
library_columns = ['name', 'address', 'community_area']

libraries = pd.DataFrame\
    .from_records(library_data, columns=library_columns)\
    .set_index('name')

libraries

                                                       address community_area
name
Richard M. Daley Branch    733 N Kedzie Ave, Chicago, IL 60612  Humboldt Park
West Town Branch         1625 W Chicago Ave, Chicago, IL 60622      West Town
Humboldt Park Branch         1605 N Troy St, Chicago, IL 60647  Humboldt Park

## Single index

Just using `.loc` with the index value returns a series:

In [3]:
# Select a single item
libraries.loc['Richard M. Daley Branch']

address           733 N Kedzie Ave, Chicago, IL 60612
community_area                          Humboldt Park
Name: Richard M. Daley Branch, dtype: object

To get a DataFrame with just that item, use `.loc` with a list containing the index value(s):

In [4]:
# Get a DataFrame with a single item by indexing `DataFrame.loc` with an array with just that item.
libraries.loc[['Richard M. Daley Branch']]

                                                     address community_area
name
Richard M. Daley Branch  733 N Kedzie Ave, Chicago, IL 60612  Humboldt Park

## MultiIndex

In [5]:
# Create a multi-index
libraries_mi = libraries.reset_index().set_index(['community_area', 'name'])

libraries_mi

                                                                      address
community_area name
Humboldt Park  Richard M. Daley Branch    733 N Kedzie Ave, Chicago, IL 60612
West Town      West Town Branch         1625 W Chicago Ave, Chicago, IL 60622
Humboldt Park  Humboldt Park Branch         1605 N Troy St, Chicago, IL 60647

With a MultiIndex, the syntax is a little trickier. Use a tuple to select the index values and the `:` to identify that you want all columns.

In [6]:
libraries_mi.loc[[('Humboldt Park', 'Richard M. Daley Branch')], :]

                                                                    address
community_area name
Humboldt Park  Richard M. Daley Branch  733 N Kedzie Ave, Chicago, IL 60612