# Select a set of items by a list of index values

Source: [Indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) (pandas documentation)

In [3]:
# Setup

from io import StringIO

import pandas as pd

## Create some toy data

This is copy and pasted from some [Wisconsin election results](https://elections.wi.gov/sites/elections.wi.gov/files/County%20by%20County%20Report%20all%20offices.xlsx) for the 2020 general election. A complex header format in the spreadsheet made loading the file directly beyond the scope of this example.

Note that this does not represent all the counties.

In [5]:
results_tsv = """
County		Total Votes Cast
ADAMS 		11,818
ASHLAND 		8,757
BARRON 		25,346
BAYFIELD 		10,880
BROWN 		144,017
BUFFALO 		7,816
BURNETT 		10,141
CALUMET 		30,774
CHIPPEWA 		35,938
CLARK 		14,898
COLUMBIA 		33,869
"""

# This data needs some processing after load:
# - Remove an empty column
# - Remove a trailing whitespace in the county name
# - Set the count name as the index
results = (
    pd.read_csv(StringIO(results_tsv), sep="\t")
    .drop(columns=["Unnamed: 1"])
    .assign(
        County=lambda df: df["County"].str.strip()
    )
    .set_index("County")
)

results

         Total Votes Cast
County
ADAMS              11,818
ASHLAND             8,757
BARRON             25,346
BAYFIELD           10,880
BROWN             144,017
BUFFALO             7,816
BURNETT            10,141
CALUMET            30,774
CHIPPEWA           35,938
CLARK              14,898
COLUMBIA           33,869

## Select a few items from the dataframe, based on their index values

Use `DataFrame.loc` with a list of labels.

In [10]:
selected_county_names = [
    "BAYFIELD",
    "BURNETT",
    "CLARK",
]

selected_results = results.loc[selected_county_names]

selected_results

         Total Votes Cast
County
BAYFIELD           10,880
BURNETT            10,141
CLARK              14,898