# Select a single item by index

Select a single item by indexing `DataFrame.log` with an array with just that item.

Via [Hierarchical Indexing | Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html).

In [1]:
import pandas as pd

In [2]:
# Create some toy data

library_data = [
    ('Richard M. Daley Branch', '733 N Kedzie Ave, Chicago, IL 60612'),
    ('West Town Branch', '1625 W Chicago Ave, Chicago, IL 60622'),
    ('Humboldt Park Branch', '1605 N Troy St, Chicago, IL 60647'),
    
]
library_columns = ['name', 'address']

libraries = pd.DataFrame\
    .from_records(library_data, columns=library_columns)\
    .set_index('name')

libraries

                                                       address
name
Richard M. Daley Branch    733 N Kedzie Ave, Chicago, IL 60612
West Town Branch         1625 W Chicago Ave, Chicago, IL 60622
Humboldt Park Branch         1605 N Troy St, Chicago, IL 60647

In [3]:
# Select a single item by indexing `DataFrame.log` with an array with just that item.
libraries.loc[['Richard M. Daley Branch']]

                                                     address
name
Richard M. Daley Branch  733 N Kedzie Ave, Chicago, IL 60612