# Wrap column headers

The [Table Visualization](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html) section of the Pandas docs is a good starting place for fine-grained control of table styles.

In [1]:
# Setup

import numpy as np
import pandas as pd

In an attempt to have clear, nicely-formatted column names, I often end up displaying DataFrames that will be too wide for the default display.

In [2]:
# Show a dataframe with many columns and long column names

df = pd.DataFrame(
    np.random.randn(10, 10), 
    columns=[f'very_long_column_title_{i}' for i in range(10)]
)

df

,very_long_column_title_0,very_long_column_title_1,very_long_column_title_2,very_long_column_title_3,very_long_column_title_4,very_long_column_title_5,very_long_column_title_6,very_long_column_title_7,very_long_column_title_8,very_long_column_title_9
0,0.043290,-1.315625,1.679559,-0.767990,-1.959854,-0.256702,-1.627739,1.534654,0.292217,1.895300
1,0.206529,1.208066,-1.372959,-1.457235,0.321962,0.753179,-0.911225,-0.227549,-0.768242,-1.197723
2,-0.522150,1.043822,0.896114,-1.448112,0.930213,-0.965441,0.824094,-2.150565,-0.169550,0.902912
3,-1.189784,0.554363,-1.008590,-1.610045,-0.737654,0.275849,-1.247350,-0.219940,-1.479569,-1.683375
4,-1.030102,-1.868196,0.776102,2.247438,0.482620,1.242679,-0.119027,0.116502,0.767433,-1.360527
5,0.145369,0.655229,0.201489,-2.010886,-0.916654,-0.016746,0.136143,-0.707137,-0.780618,1.198652
6,0.245422,0.090801,-1.722201,0.997657,0.925049,-0.834475,1.861780,0.358015,0.871486,0.384704
7,0.626758,1.497500,1.418559,-0.650648,-0.308281,-0.570179,-0.788249,0.092388,0.622280,0.445002
8,0.717521,1.560096,-0.311071,0.905100,0.522118,-1.083400,0.051064,0.222673,0.618345,0.946164
9,0.244059,-0.126309,-0.603847,0.352051,-1.255572,-0.476173,-0.807395,-0.806032,-0.747203,-0.642893

Using [`set_table_styles()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.set_table_styles.html) to set the `word-break` CSS property to `break-all` on the `th` elements that surround the column headings cause the column names to wrap.

Note that I include `thead` in the CSS selector because otherwise the index in each row will be wrapped because it is rendered inside a `th` element.

In [3]:
# Set the word-break CSS property to make headers wrap

df.style.set_table_styles([
    {
        "selector": "thead th",
        "props": [
            ("word-break", "break-all",),
        ],
    },
])

When you want to force wrapping of column names with spaces in them (which automatically wrap when space becomes tight) ...

In [4]:
# Show example DataFrame with long titles with spaces in them

df2 = pd.DataFrame(
    np.random.randn(10, 4), 
    columns=[f'Very Long Column Title {i}' for i in range(4)]
)

df2

,Very Long Column Title 0,Very Long Column Title 1,Very Long Column Title 2,Very Long Column Title 3
0,-0.251355,-0.637744,0.965959,2.096560
1,0.268306,2.142465,0.341034,0.450563
2,0.732993,0.963850,2.050105,2.204934
3,3.820257,-1.434039,1.161899,-0.629077
4,-0.179829,-0.095419,0.687000,0.532283
5,-0.865124,-0.086551,0.112480,-0.437840
6,-0.082468,0.918170,-0.037149,0.283304
7,0.393284,2.944178,-0.288044,0.096290
8,-1.639113,-0.072588,0.778677,-0.905295
9,-0.432452,-0.222728,0.577524,-0.248720

... you can set the `max-width` CSS property to force skinnier columns.

In [5]:
# Set the `max-width` CSS property to force column width and wrap text

df2.style.set_table_styles([
    {
        "selector": "thead th",
        "props": [
            ("max-width", "100px",),
        ],
    },
])